<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>

        <meta charset="utf-8">
        <meta http-equiv="Content-Type" charset="UTF-8">
        <title>{{ title }}</title>

        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
        <meta http-equiv="X-UA-Compatible" content="IE=100,chrome=1">
        <meta name="application-name" content="<%= websiteName %>">
        <meta name="author" content="{{ author }}">
        <meta name="description" content="{{ description }}">
        <meta name="date" content="{{ date }}">
        <meta name="keywords" content="{{ keywords }}">
        <meta name="robots" content="{{ robots }}">

        <link type="text/css" rel="stylesheet" href="css/<%= _.slugify(websiteName) %>.min.css" media="all">
        <script type="text/javascript" src="js/modernizr.min.js"></script>

        <!-- Chrome v31+ for Android -->
        <link rel="shortcut icon" sizes="196x196" href="images/favicon/touch-icon-196x196.png">
        <link rel="shortcut icon" href="images/favicon/apple-touch-icon.png">

        <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
        <link rel="apple-touch-icon" href="images/favicon/apple-touch-icon-57x57-precomposed.png">
        <!-- For the iPad mini and the first- and second-generation iPad on iOS ≤ 6: -->
        <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-touch-icon-72x72-precomposed.png">
        <!-- For the iPad mini and the first- and second-generation iPad on iOS ≥ 7:
        <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-touch-icon-76x76-precomposed.png">-->
        <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
        <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-touch-icon-114x114-precomposed.png">
        <!-- For iPhone with high-resolution Retina display running iOS ≥ 7:
        <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-touch-icon-120x120-precomposed.png">-->
        <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
        <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-touch-icon-144x144-precomposed.png">
        <!-- For iPad with high-resolution Retina display running iOS ≥ 7:
        <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-touch-icon-152x152-precomposed.png">-->

        <!-- Windows Icon -->
        <meta name="msapplication-TileImage" content="images/favicon/apple-touch-icon-144x144-precomposed.png">
        <meta name="msapplication-TileColor" content="#222222">

        <!-- <meta name="msapplication-square150x150logo" content="images/favicon/windows-icon-150x150.png"/>
        <meta name="msapplication-wide310x150logo" content="images/favicon/windows-icon-310x150.png"/>
        <meta name="msapplication-square310x310logo" content="images/favicon/windows-icon-310x310.png"/> -->

        <% if (includePolyfill) { %>
        <!--[if (gte IE 6)&(lte IE 9)]>
        <script type="text/javascript" src="JS/PIE.js"></script>
        <![endif]-->
        <!--[if (gte IE 6)&(lte IE 8)]>
        <script type="text/javascript" src="JS/selectivizr.js"></script>
        <![endif]--><% }%>

    </head>


    <body>

        <header class="Page">
            <div class="Wrapper">
                {{> Navigation }}
            </div>
        </header>


        <main>
            <div class="Wrapper">
                {{> body }}
            </div>
        </main>

        <footer class="Page">
            <div class="Wrapper">
                {{> Footer }}
            </div>
        </footer>

        <script type="text/javascript" src="js/<%= _.slugify(websiteName) %>.min.js"></script>

    </body>
</html>
