<h1 data-locale="de">
    {{Headline.de}}
</h1>
<h1 data-locale="en">
    {{Headline.en}}
</h1>

<h2 data-locale="de">
    {{Subline.de}}
</h2>
<h2 data-locale="en">
    {{Subline.en}}
</h2>

<p data-locale="de">
    {{Content.de}}
</p>
<p data-locale="en">
    {{Content.en}}
</p>